{% extends 'base.html' %}

{% block title %}
  Home page
{% endblock %}
{% block content%}
<h1 class="text-center mt-5">Welcome to Flask Market </h1>
<div class="row">
    <div class="col-8">
        <img class="img-fluid" src="https://images.unsplash.com/photo-1547082299-de196ea013d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Computers" img-responsive="auto" style="background-position: center;background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">

    </div>
    <div class="col-4">
        <div class="text-center">
            <h1 class="text-info">Digital Purchasing</h1>
            Your business needs powerful solutions and guidance to navigate today’s marketplace. With our high-quality staff and customized solutions, DTA is the best choice to provide your organization with digital marketing solutions.        
        </div>
        <p>Let’s get started</p>
            <h3 class="text-warning">We will help you overcome your technology challenges</h3>
    </div>
</div>
<div class="row">
    <h2 class="text-center text-light">80% of our digital marketing clients we get them through referrals from previous clients</h2>
</div>
{%endblock%}